{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Nexora Market - Yangi parol</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<main class="page-section">
    <div class="center-narrow stack">
        <section class="auth-shell">
            <form method="post">
                {% csrf_token %}
                <div class="auth-side">
                    <h1>Yangi parol</h1>
                    <p>Endi o'zingizga esda qolarli va xavfsiz yangi parol o'rnating.</p>
                </div>

                <div class="auth-form stack">
                    <h2>Yangi parol o'rnatish</h2>

                    <input class="input" type="password" name="password" placeholder="Yangi parol" required>
                    <input class="input" type="password" name="confirm_password" placeholder="Parolni takrorlang" required>

                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                        Parolni saqlash
                    </button>
                </div>
            </form>
        </section>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
</body>
</html>